.img-effect {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s ease-in;
    transition: .5s ease-in;
    &:hover{
        webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
}

.img-block-eff {
    overflow: hidden;
}
