@font-face {
    font-family: 'kanit' ;
    src: url('../../fonts/Kanit-Regular.eot');
    src: url('../../fonts/Kanit-Regular.eot?') format('embedded-opentype'),
         url('../../fonts/Kanit-Regular.woff') format('woff'),
         url('../../fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'kanit-light' ;
    src: url('../../fonts/Kanit-Light.eot');
    src: url('../../fonts/Kanit-Light.eot?') format('embedded-opentype'),
         url('../../fonts/Kanit-Light.woff') format('woff'),
         url('../../fonts/Kanit-Light.ttf') format('truetype');
}