a {
  text-decoration: none !important; }

body {
  font-family: 'Lato', sans-serif; }

p {
  margin: 0; }

input[type=text] {
  outline: 0; }

input[type=text]:focus {
  border: solid 1px #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

.padding-none {
  padding: 0 !important; }

.margin-top {
  margin-top: 1em !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.padding-verti-15 {
  padding: 15px 0; }

.font-weight-light {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.txt-grey {
  color: #6b7d85; }

.txt-darkblue {
  color: #1d3b48; }

.img-effect {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in; }
  .img-effect:hover {
    webkit-transform: scale(1.05);
    transform: scale(1.05); }

.menu-container {
  width: 100%; }

.menu-mobile {
  display: none;
  padding: 20px; }

.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%); }

.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  background: #fff;
  color: #333; }

.menu > ul {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box; }

.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table; }

.menu > ul:after {
  clear: both; }

.menu > ul > li {
  margin: 0; }

.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #fff;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  top: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13); }

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table; }

.menu > ul > li > ul:after {
  clear: both; }

.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left; }

.menu > ul > li > ul > li a {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc; }

.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box; }

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table; }

.menu > ul > li > ul > li > ul:after {
  clear: both; }

.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em; }

.menu > ul > li > ul > li > ul > li a {
  border: 0; }

.menu > ul > li > ul.normal-sub {
  left: auto;
  padding: 10px 20px; }

.menu > ul > li > ul.normal-sub > li {
  width: 100%; }

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0; }

header {
  font-size: 14px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  padding: 0; }
  header .nav-logo {
    display: inline-block;
    width: 180px;
    height: 40px;
    background: url(https://dev.indexlivingmall.com/skin/frontend/indexliving-corporate/default/images/logo-2x.png) no-repeat right bottom;
    padding-top: 2px;
    background-size: contain; }
  header .header-toplink {
    padding: 0.4em 0.2em;
    font-size: 0.9em; }
    header .header-toplink ul {
      margin: 0;
      padding: 3px 0 8px 0; }
    header .header-toplink .list-inline-item {
      margin: 0; }
      header .header-toplink .list-inline-item a img {
        margin-right: 5px; }
      header .header-toplink .list-inline-item a span {
        border-right: 2px solid #e7ebed;
        margin-right: 8px;
        padding-right: 13px; }
      header .header-toplink .list-inline-item a .last-item {
        border: none;
        margin: 0; }
  header .wrap-main-cat {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: right;
    vertical-align: bottom;
    font-size: 15px;
    font-weight: 700; }
    header .wrap-main-cat .search-form {
      width: 250px; }
  header .active {
    color: #f04723 !important;
    border-bottom: solid 3px #f04723; }
    header .active .icon-menu {
      fill: #f04723 !important; }
      header .active .icon-menu svg {
        transition: transform .2s, color .2s;
        transform: rotate(-180deg); }
  header .main-cat {
    padding: 0.7em 0.8em 1em; }
    header .main-cat .icon-menu {
      padding: 0 0 0 0.5em; }
  header .search-form {
    display: inline-block;
    width: 250px;
    margin: 0 3em; }
    header .search-form input[type=text] {
      border: 1px solid #ced4da;
      background: #f8f8f8;
      outline: 0; }
    header .search-form .btn-search {
      border: 1px solid #ced4da;
      border-left: 0;
      background: #f8f8f8; }
  header .wrap-icon-cat {
    display: inline-block; }
    header .wrap-icon-cat .noti-list {
      font-size: 1.6em;
      color: #1d3b48; }
      header .wrap-icon-cat .noti-list .list-inline-item {
        margin-right: 1.3em; }
        header .wrap-icon-cat .noti-list .list-inline-item:last-child {
          margin: 0; }
  header .promotion-wrapper {
    background: #fdcf3f; }
    header .promotion-wrapper .promo-text {
      color: #fff;
      font-weight: 500;
      font-size: 13px;
      text-align: center;
      padding: 0.8em 0;
      margin: 0; }
  header .mega-menu {
    position: relative;
    z-index: 505;
    clear: both;
    background-color: #fff;
    display: none;
    max-width: 1156px;
    margin: 0 auto; }
  header .show {
    display: block; }
  header .menu > ul > li > ul.list-promotion {
    width: 760px;
    padding: 1.5em 1em;
    text-align: left; }
    header .menu > ul > li > ul.list-promotion .promo-list-item {
      display: inline-block;
      width: 200px;
      margin: 0 15px 2.5em 15px; }
    header .menu > ul > li > ul.list-promotion .img-promo {
      width: 100%;
      display: block;
      margin-bottom: 1em;
      overflow: hidden; }
    header .menu > ul > li > ul.list-promotion .promo-txt-wrap {
      text-align: left;
      font-size: 0.8em; }
    header .menu > ul > li > ul.list-promotion .promo-title {
      color: #1d3b48;
      font-weight: 700;
      letter-spacing: 0.4px;
      margin-bottom: 3px;
      display: block; }
    header .menu > ul > li > ul.list-promotion .promo-subtitle {
      color: #6b7d85;
      letter-spacing: 0.2px;
      display: block; }

.footer-wrap {
  border-top: 1px solid #e7ebed;
  background: #f4f5f7;
  padding-top: 3em; }
  .footer-wrap .footer-logo {
    height: 3em;
    position: relative;
    margin-bottom: 0.5em; }
    .footer-wrap .footer-logo img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px; }
    .footer-wrap .footer-logo span {
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: bold;
      font-size: 0.9em;
      text-transform: uppercase; }
  .footer-wrap .footer-link {
    color: #6b7d85;
    font-size: 0.8em; }
  .footer-wrap .btm-footer {
    border-top: 1px solid rgba(53, 53, 53, 0.1); }
    .footer-wrap .btm-footer .coppy-right {
      font-size: 0.8em;
      color: #6b7d85;
      text-transform: uppercase;
      letter-spacing: 0.5px; }
    .footer-wrap .btm-footer .btm-link {
      font-size: 0.8em;
      margin: 0; }
      .footer-wrap .btm-footer .btm-link a span {
        border-right: 1px solid #6a6a6a;
        margin-right: 10px;
        padding-right: 15px; }
      .footer-wrap .btm-footer .btm-link a .last-item {
        border: none;
        margin: 0; }
      .footer-wrap .btm-footer .btm-link a:hover {
        color: #6b7d85; }

h1 {
  color: #f04723; }

/*# sourceMappingURL=style.css.map */
