@font-face {
  font-family: "kanit";
  src: url("../../fonts/Kanit-Regular.eot");
  src: url("../../fonts/Kanit-Regular.eot?") format("embedded-opentype"), url("../../fonts/Kanit-Regular.woff") format("woff"), url("../../fonts/Kanit-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "kanit-light";
  src: url("../../fonts/Kanit-Light.eot");
  src: url("../../fonts/Kanit-Light.eot?") format("embedded-opentype"), url("../../fonts/Kanit-Light.woff") format("woff"), url("../../fonts/Kanit-Light.ttf") format("truetype"); }
a {
  text-decoration: none !important; }

body {
  font-family: 'kanit','Lato', sans-serif; }

p {
  margin: 0; }

input[type=text] {
  outline: 0; }

input[type=text]:focus {
  border: solid 1px #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: none;
  -moz-transition: none;
  -webkit-transition: none; }

.padding-none {
  padding: 0 !important; }

.margin-top {
  margin-top: 1em !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.padding-verti-15 {
  padding: 15px 0; }

.padding-verti-20 {
  padding: 20px 0; }

.font-weight-light {
  font-weight: 400 !important; }

.font-weight-bold {
  font-weight: 700 !important; }

.block-center {
  margin: 0 auto;
  display: block; }

.padding-middle-10 {
  padding: 0 10px; }

.padding-right-10 {
  padding-right: 10px; }

.padding-left-10 {
  padding-left: 10px; }

.search-form {
  width: 100%; }
  .search-form input[type=text] {
    border: none;
    background: none;
    border-bottom: solid 1px #222021;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 1em;
    padding-left: 0.5em; }
  .search-form .btn-search {
    background: none;
    outline: none !important;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid 1px #222021;
    font-size: 1.2em;
    padding: 0 0.5em; }

.mail-form {
  max-width: 280px; }
  .mail-form input[type=text] {
    border: none;
    background: none;
    border-bottom: solid 2px #222021;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 0.8em;
    padding: 0; }
  .mail-form .btn-search {
    background: none;
    outline: none !important;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border-bottom: solid 2px #222021;
    font-size: 1.2em;
    padding: 0 0.5em; }

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }

.txt-grey {
  color: #6b7d85; }

.txt-darkblue {
  color: #1d3b48; }

.txt-black {
  color: #000; }

.txt-link {
  color: #fdc30f;
  text-decoration: underline; }
  .txt-link span {
    color: #fdc30f;
    text-decoration: underline; }

.bg-grey {
  background: #f1f1f2; }

.img-effect {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .5s ease-in;
  transition: .5s ease-in; }
  .img-effect:hover {
    webkit-transform: scale(1.05);
    transform: scale(1.05); }

.img-block-eff {
  overflow: hidden; }

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 0;
  height: 2.5em;
  background: #79FAC4;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  visibility: hidden; }

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s; }

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 1rem;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  float: left;
  margin: 0px;
  display: inline-block;
  width: 100%;
  font-weight: normal;
  letter-spacing: 1px; }

.hovereffect p.icon-links a {
  float: right;
  color: #3c4a50;
  font-size: 1.4em; }

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
  color: #252d31; }

.hovereffect h2,
.hovereffect p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  visibility: visible; }

.hovereffect p.icon-links a span:before {
  display: inline-block;
  padding: 8px 10px;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.hovereffect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s; }

.hovereffect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s; }

.hovereffect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s; }

.hovereffect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s; }

.menu-container {
  width: 100%; }

.menu-mobile {
  display: none;
  padding: 20px; }

.menu-mobile:after {
  content: "\f394";
  font-family: "Ionicons";
  font-size: 2.5rem;
  padding: 0;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-25%);
  -ms-transform: translateY(-25%);
  transform: translateY(-25%); }

.menu-dropdown-icon:before {
  content: "\f489";
  font-family: "Ionicons";
  display: none;
  cursor: pointer;
  float: right;
  padding: 1.5em 2em;
  background: #fff;
  color: #333; }

.menu > ul {
  width: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
  box-sizing: border-box; }

.menu > ul:before,
.menu > ul:after {
  content: "";
  display: table; }

.menu > ul:after {
  clear: both; }

.menu > ul > li {
  margin: 0; }

.menu > ul > li > ul {
  display: none;
  width: 100%;
  background: #fff;
  padding: 20px;
  position: absolute;
  z-index: 99;
  left: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  top: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13); }

.menu > ul > li > ul:before,
.menu > ul > li > ul:after {
  content: "";
  display: table; }

.menu > ul > li > ul:after {
  clear: both; }

.menu > ul > li > ul > li {
  margin: 0;
  padding-bottom: 0;
  list-style: none;
  width: 25%;
  background: none;
  float: left; }

.menu > ul > li > ul > li a {
  color: #777;
  padding: .2em 0;
  width: 95%;
  display: block;
  border-bottom: 1px solid #ccc; }

.menu > ul > li > ul > li > ul {
  display: block;
  padding: 0;
  margin: 10px 0 0;
  list-style: none;
  box-sizing: border-box; }

.menu > ul > li > ul > li > ul:before,
.menu > ul > li > ul > li > ul:after {
  content: "";
  display: table; }

.menu > ul > li > ul > li > ul:after {
  clear: both; }

.menu > ul > li > ul > li > ul > li {
  float: left;
  width: 100%;
  padding: 10px 0;
  margin: 0;
  font-size: .8em; }

.menu > ul > li > ul > li > ul > li a {
  border: 0; }

.menu > ul > li > ul.normal-sub {
  left: auto;
  padding: 10px 20px; }

.menu > ul > li > ul.normal-sub > li {
  width: 100%; }

.menu > ul > li > ul.normal-sub > li a {
  border: 0;
  padding: 1em 0; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block;
  overflow: hidden; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slider {
  width: 100%;
  margin: 1px auto 0; }

.slick-slide {
  margin: 0px 20px; }

.slick-slide img .main-slide-item {
  width: 1440px; }
.slick-slide img .multi-item {
  width: inherit;
  overflow: hidden; }

.slick-slide img:hover {
  opacity: 1; }

.slick-prev,
.slick-next {
  z-index: 99;
  opacity: 1;
  display: none; }

.slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2; }

.slick-active {
  opacity: 1; }

.slick-current {
  opacity: 1; }

.slick-arrow {
  display: none; }

.slick-slider .slick-prev, .slick-slider .slick-next {
  opacity: 0;
  transition: transform .2s, color .2s; }
.slick-slider:hover .slick-prev, .slick-slider:hover .slick-next {
  opacity: 1 !important;
  transition: transform .2s, color .2s; }

header {
  font-size: 14px;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  padding: 0; }
  header .nav-logo {
    display: inline-block;
    width: 160px;
    height: 36px;
    background: url(https://dev.indexlivingmall.com/skin/frontend/indexliving-corporate/default/images/logo-2x.png) no-repeat right bottom;
    padding-top: 2px;
    background-size: contain; }
  header .header-toplink {
    padding: 1em 0 0;
    font-size: 1em; }
    header .header-toplink ul {
      margin: 0;
      padding: 3px 0 8px 0; }
      header .header-toplink ul .list-inline-item {
        margin-right: 8px;
        padding-right: 13px;
        border-right: solid 1px #e7ebed; }
        header .header-toplink ul .list-inline-item:last-child {
          border: none;
          margin: 0; }
  header .wrap-main-cat {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: bottom;
    font-size: 1em;
    font-weight: 700; }
  header .active-menu {
    color: #fdc30f !important; }
    header .active-menu .icon-menu {
      fill: #fdc30f !important; }
      header .active-menu .icon-menu svg {
        transition: transform .2s, color .2s;
        transform: rotate(-180deg); }
  header .search-form {
    display: inline-block;
    padding: 10px;
    width: 80%;
    margin: 0 0 0 auto;
    /* input[type=text] {
        border:1px solid #ced4da;
        background: #f8f8f8;
        outline: 0;
    }
    .btn-search {
        border:1px solid #ced4da;
        border-left: 0;
        background: #f8f8f8;
    } */ }
  header .noti-list {
    font-size: 1.2em; }
  header .promotion-wrapper {
    background: #fdc30f; }
    header .promotion-wrapper .promo-text {
      color: #fff;
      font-weight: 500;
      font-size: 13px;
      text-align: center;
      padding: 0.8em 0;
      margin: 0; }
  header .mega-menu {
    position: relative;
    z-index: 505;
    clear: both;
    background-color: #fff;
    display: none;
    max-width: 1156px;
    margin: 0 auto; }
  header .show {
    display: block; }
  header .menu > ul > li > ul.list-megamenu {
    position: absolute;
    right: 0;
    left: 0;
    width: 1140px;
    overflow: hidden;
    text-align: left;
    padding: 0;
    top: 40px; }
    header .menu > ul > li > ul.list-megamenu .tabHeader {
      background: #565658;
      min-height: 300px;
      padding: 1em 0em 1.5em; }
      header .menu > ul > li > ul.list-megamenu .tabHeader .cat-list {
        line-height: 3;
        font-weight: 400; }
        header .menu > ul > li > ul.list-megamenu .tabHeader .cat-list a {
          color: #bfbdc6;
          padding-left: 1em;
          transition: transform .5s, color .5s; }
        header .menu > ul > li > ul.list-megamenu .tabHeader .cat-list .active {
          background: #fff; }
          header .menu > ul > li > ul.list-megamenu .tabHeader .cat-list .active a {
            transition: transform .5s, color .5s;
            color: #fdc30f;
            font-weight: 700; }
    header .menu > ul > li > ul.list-megamenu .tabContent div.tabItem {
      display: none; }
    header .menu > ul > li > ul.list-megamenu .tabContent div.tabItem.active {
      display: block; }
    header .menu > ul > li > ul.list-megamenu .tabContent .tabItem {
      background: url("https://ii1.pepperfry.com/media/wysiwyg/banners/furniture-min_hover_bg.jpg") no-repeat right bottom; }
    header .menu > ul > li > ul.list-megamenu .tabContent .mega-list-wrap {
      padding: 20px;
      width: 870px;
      height: 300px; }
    header .menu > ul > li > ul.list-megamenu .tabContent .list-column {
      width: 260px;
      display: inline-block; }
      header .menu > ul > li > ul.list-megamenu .tabContent .list-column .col-list {
        margin: 0;
        padding: 0; }
        header .menu > ul > li > ul.list-megamenu .tabContent .list-column .col-list .col-sec-ttl a {
          font-size: 0.8em;
          font-weight: 700;
          color: #1d3b48;
          letter-spacing: .4px;
          display: inline-block;
          border-bottom: solid 1px #e7ebed;
          padding: 0 0 2px;
          text-transform: uppercase; }
        header .menu > ul > li > ul.list-megamenu .tabContent .list-column .col-list .col-sec-list a {
          font-size: 0.9em;
          font-weight: 400;
          color: #6b7d85;
          display: inline-block;
          padding: 3px 0; }
  header .menu > ul > li > ul.list-idea {
    width: 700px;
    padding: 1.5em 1em;
    text-align: left; }
    header .menu > ul > li > ul.list-idea .idea-text-wrap {
      margin: 0 15px 1em; }
      header .menu > ul > li > ul.list-idea .idea-text-wrap h6 {
        font-weight: 700; }
      header .menu > ul > li > ul.list-idea .idea-text-wrap p {
        font-size: 0.8em; }
    header .menu > ul > li > ul.list-idea .idea-list-item {
      display: inline-block;
      width: 300px;
      margin: 0 15px 2.5em 15px; }
      header .menu > ul > li > ul.list-idea .idea-list-item .img-promo {
        width: 100%;
        display: block;
        margin-bottom: 1em;
        overflow: hidden; }
      header .menu > ul > li > ul.list-idea .idea-list-item .promo-txt-wrap {
        text-align: left;
        font-size: 0.8em; }
      header .menu > ul > li > ul.list-idea .idea-list-item .promo-title {
        color: #1d3b48;
        font-weight: 700;
        letter-spacing: 0.4px;
        margin-bottom: 3px;
        display: block; }
      header .menu > ul > li > ul.list-idea .idea-list-item .promo-subtitle {
        color: #6b7d85;
        letter-spacing: 0.2px;
        display: block; }
  header .menu > ul > li > ul.list-promotion {
    width: 760px;
    padding: 1.5em 1em;
    text-align: left; }
    header .menu > ul > li > ul.list-promotion .promo-list-item {
      display: inline-block;
      width: 200px;
      margin: 0 15px 2.5em 15px; }
    header .menu > ul > li > ul.list-promotion .img-promo {
      width: 100%;
      display: block;
      margin-bottom: 1em;
      overflow: hidden; }
    header .menu > ul > li > ul.list-promotion .promo-txt-wrap {
      text-align: left;
      font-size: 0.8em; }
    header .menu > ul > li > ul.list-promotion .promo-title {
      color: #1d3b48;
      font-weight: 700;
      letter-spacing: 0.4px;
      margin-bottom: 3px;
      display: block; }
    header .menu > ul > li > ul.list-promotion .promo-subtitle {
      color: #6b7d85;
      letter-spacing: 0.2px;
      display: block; }
  header .megamenu-li {
    position: static; }
  header .megamenu {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px;
    padding: 1em 15px 0 15px;
    border-radius: 0;
    border-top: solid 1px #f4f5f7;
    top: 68px; }
  header .dropdown-toggle::after {
    border: none !important; }
  header .navbar {
    height: 5em; }
  header .navbar-nav {
    margin-left: auto;
    padding-top: 0.8em; }
    header .navbar-nav a {
      color: #000;
      font-size: 1.2em; }
  header .dropdown:hover > .dropdown-menu {
    display: block; }
  header .sub-menu-cat {
    color: #1d3b48;
    border-right: solid 1px #89888d;
    outline: 0;
    padding: 0;
    min-height: 540px; }
    header .sub-menu-cat .sub-cate {
      border: 0;
      background: none;
      padding: 0.5em 0;
      color: #1d3b48;
      outline: none;
      cursor: pointer; }
      header .sub-menu-cat .sub-cate:hover {
        color: #000; }
    header .sub-menu-cat li {
      padding-right: 1.2em; }
      header .sub-menu-cat li:hover {
        border-right: solid 2px #000; }
  header .room-cate {
    background: url("https://ii1.pepperfry.com/media/wysiwyg/banners/furniture-min_hover_bg.jpg") no-repeat right bottom; }
  header .fur-cate {
    background: url("../../assets/image/sub-menu-bg.png") no-repeat right bottom; }
  header .tabcontent {
    display: none; }
  header .other-room {
    font-size: 1em;
    padding: 0.5em 0 1em 1em; }
    header .other-room a {
      font-size: 0.9em !important;
      color: #6b7d85; }
  header .sub-list {
    padding: 0 2em; }
  header .sub-menu-item {
    padding: 0; }
    header .sub-menu-item .fur-item {
      color: #565658;
      text-align: center;
      font-weight: lighter;
      padding-top: 0.5em;
      font-size: 0.9rem; }
  header .interest-list {
    padding: 0 0 2em 1em; }
    header .interest-list a {
      font-size: 1rem;
      color: #565658;
      font-weight: lighter;
      font-size: 0.9em;
      line-height: 2; }
  header .carousel-indicators {
    margin-left: 5%;
    justify-content: flex-start; }
    header .carousel-indicators li {
      width: 10px;
      height: 10px;
      border-radius: 100%; }
    header .carousel-indicators .active {
      background-color: #1d3b48; }

.footer-wrap {
  border-top: 1px solid #e7ebed;
  background: #f4f5f7;
  padding-top: 3em; }
  .footer-wrap .footer-logo {
    height: 3em;
    position: relative; }
    .footer-wrap .footer-logo img {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 170px;
      margin-bottom: 0.5em; }
    .footer-wrap .footer-logo span {
      position: absolute;
      left: 0;
      bottom: 0;
      font-weight: bold;
      font-size: 0.9em;
      text-transform: uppercase; }
  .footer-wrap .footer-link {
    color: #6b7d85;
    font-size: 0.8em; }
  .footer-wrap .footer-icon {
    min-width: 1.5em;
    display: inline-block;
    font-size: 1.2em; }
  .footer-wrap .btm-footer {
    border-top: 1px solid rgba(53, 53, 53, 0.1);
    padding: 0.5em 0 2.5em 0; }
    .footer-wrap .btm-footer .coppy-right {
      font-size: 0.8em;
      color: #252525;
      text-transform: uppercase;
      letter-spacing: 0.5px; }
    .footer-wrap .btm-footer .btm-link {
      font-size: 0.8em;
      margin: 0; }
      .footer-wrap .btm-footer .btm-link a span {
        color: #252525;
        padding-right: 0px; }
      .footer-wrap .btm-footer .btm-link a .last-item {
        border: none;
        margin: 0; }
      .footer-wrap .btm-footer .btm-link a:hover {
        color: #6b7d85; }
  .footer-wrap .follow-list {
    text-align: right;
    font-size: 1.3em;
    margin-top: 0.5em; }
    .footer-wrap .follow-list span {
      background: #6b7d85;
      border-radius: 100%;
      height: 1.6em;
      display: block;
      width: 1.6em;
      text-align: center;
      line-height: 1.6; }
      .footer-wrap .follow-list span i {
        color: #fff; }
  .footer-wrap .footer-top {
    border-bottom: solid 1px #b7b7b7;
    padding-bottom: 1em; }
  .footer-wrap .footer-mid {
    padding-top: 1em;
    padding-bottom: 1em; }

.breadcrumb {
  background: none;
  font-weight: lighter;
  font-size: 0.9rem;
  padding: 2em 0; }
  .breadcrumb .breadcrumb-item a {
    color: #89888d; }
  .breadcrumb .breadcrumb-item.active {
    color: #000; }

.breadcrumb-item + .breadcrumb-item::before {
  content: ">"; }

.promotion-index .sec-title {
  text-transform: uppercase;
  margin: 1em 0 0.5em;
  letter-spacing: 1px;
  font-size: 2.5em;
  font-weight: 700; }
.promotion-index .sec-title-withdesc {
  text-transform: uppercase;
  margin: 1em 0 0;
  letter-spacing: 1px;
  font-size: 2.5em;
  font-weight: 700; }
.promotion-index .sec-desc {
  font-size: 1.5em;
  margin-bottom: 1.5em; }
.promotion-index .promo-block {
  margin: 0 0 0.8em 0;
  overflow: hidden; }
.promotion-index .promo-wrap {
  margin: 0 0 20px 0; }
  .promotion-index .promo-wrap .title-promo {
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85em;
    margin-bottom: 0.3em; }
  .promotion-index .promo-wrap .det-promo {
    font-size: 0.8em; }
.promotion-index .promo-slider {
  margin: 0 0 1em 0;
  padding: 0 0 3em 0;
  border-bottom: solid 1px #e7ebed; }
.promotion-index .slider-block {
  overflow: hidden;
  margin-bottom: 0.5em; }
.promotion-index .slide-title {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.85em;
  margin-bottom: 0.3em; }
.promotion-index .slide-det {
  font-size: 0.8em; }

.collection-banner .txt-collection {
  background: #252b34;
  padding: 4em 0.5em 1em 2em;
  height: 100%;
  color: #fff; }
  .collection-banner .txt-collection h2 {
    font-weight: lighter;
    letter-spacing: -0.5px; }
  .collection-banner .txt-collection h3 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2.5em; }
  .collection-banner .txt-collection p {
    font-weight: lighter;
    font-size: 1.4em;
    padding-bottom: 0.7em; }

.giftcard-banner .txt-collection {
  background: #97755c;
  padding: 4em 0.5em 1em 2em;
  height: 100%;
  color: #fff; }
  .giftcard-banner .txt-collection h2 {
    font-weight: lighter;
    letter-spacing: -0.5px; }
  .giftcard-banner .txt-collection h3 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 2.5em; }
  .giftcard-banner .txt-collection p {
    font-weight: lighter;
    font-size: 1.4em;
    padding-bottom: 0.7em; }

.collection-text {
  min-height: 5em; }
  .collection-text .collect-name {
    padding: 1em 1em 0 1em; }
  .collection-text .collect-des {
    color: #6b7d85;
    padding: 0 1em; }

.sale-parnel {
  padding-bottom: 50px; }
  .sale-parnel .sale-product {
    background: #fff; }
    .sale-parnel .sale-product .img-block {
      margin: 3em 0; }
    .sale-parnel .sale-product .txt-block {
      margin: 2em 0 1em; }
    .sale-parnel .sale-product .promo-price {
      font-size: 1.2em;
      color: #ff0000; }
    .sale-parnel .sale-product .old-price {
      text-decoration: line-through;
      color: #6b7d85;
      padding: 0 2em; }
    .sale-parnel .sale-product .product-desc {
      color: #6b7d85;
      padding: 1em 1em 0 0;
      font-size: 0.9em; }
    .sale-parnel .sale-product .product-time {
      margin-bottom: 2em; }
      .sale-parnel .sale-product .product-time .time {
        background: #fdc30f;
        width: 2.5em;
        height: 2.5em;
        color: #000;
        text-align: center;
        display: inline-block;
        margin-top: 1.5em;
        border-radius: 5px;
        font-size: 0.8em;
        line-height: 2.5;
        margin-right: 0.5em; }
      .sale-parnel .sale-product .product-time .label {
        color: #6b7d85;
        font-size: 0.6em;
        text-align: center;
        width: 3em;
        margin-right: 10px;
        display: inline-block; }
  .sale-parnel .small-promo {
    background: #fff;
    min-height: 5em;
    padding: 1.5em; }
    .sale-parnel .small-promo .promo-price {
      font-size: 1em;
      color: #ff0000; }

.news-product .txt-new-arrivals {
  padding: 0.5em; }
  .news-product .txt-new-arrivals .price-product {
    color: #6b7d85;
    font-size: 0.8em; }
.news-product .new-arrivals {
  background: #fff;
  border: solid 1px #dfdfdf;
  border-radius: 5px;
  margin-bottom: 20px; }
.news-product .but-item {
  background: #fdc30f;
  border: none;
  width: 7em;
  font-size: 0.8em;
  color: #000;
  padding: 0.3em 0;
  border-radius: 30px; }
  .news-product .but-item .btn-logo {
    padding-right: 0.7em; }

.locate-banner .locate-img-left {
  position: relative;
  left: 30px;
  padding: 20px 0;
  z-index: 99; }
.locate-banner .locate-img-right {
  position: relative;
  right: 30px;
  padding: 20px 0;
  z-index: 99; }
.locate-banner .txt-banner {
  padding: 2em 9em; }
.locate-banner h3 {
  text-transform: uppercase; }
.locate-banner .locate-btn {
  background: #f04723;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2em;
  font-size: 1.2em;
  width: 75%;
  border-radius: 0; }

.what-more {
  margin-bottom: 1.5em; }
  .what-more .what-more-txt {
    padding-top: 7em; }

.what-news-txt {
  padding: 1.5em 1.5em 0 0; }
  .what-news-txt .txt-link {
    font-size: 1.2em; }
  .what-news-txt .label {
    color: #6b7d85; }
  .what-news-txt .txt-head {
    padding: 0.5em 0; }
  .what-news-txt .txt-detail {
    padding-bottom: 2em;
    font-size: 1.1em; }

.idea-forhome .txt-head {
  font-size: 3em; }
.idea-forhome .txt-detail {
  font-size: 2em;
  padding-bottom: 0.6em; }
.idea-forhome .txt-link {
  font-size: 1.2em; }

.smart-collect .txt-link {
  font-size: 1.2em; }

.brand-collection .brand-logo {
  padding: 1em; }
.brand-collection .branding-block {
  padding: 1em;
  background: #fff; }
.brand-collection .brand-txt-block {
  padding: 2em 1em; }
  .brand-collection .brand-txt-block h4 {
    text-transform: uppercase;
    font-size: 1.2em;
    padding-bottom: 0.8em; }
  .brand-collection .brand-txt-block p {
    font-size: 0.8em;
    color: #9c9c9c; }
    .brand-collection .brand-txt-block p span {
      color: #000; }
  .brand-collection .brand-txt-block .link-brand span {
    color: #fdc30f;
    font-size: 0.9em;
    display: inline-block;
    margin-top: 2.5em; }

.top-banner {
  margin: 2em 0 0 0; }

.filter-tab {
  padding: 0.5em 0; }
  .filter-tab .panel {
    color: #6b7d85;
    font-weight: lighter;
    text-transform: uppercase;
    padding-right: 0.5em; }
  .filter-tab .btn {
    border-radius: 0;
    background: #fff;
    outline: none;
    box-shadow: none;
    border: solid 1px #f4f5f7;
    font-size: 1rem;
    padding: .5rem .75rem; }
  .filter-tab .dropdown-toggle::after {
    vertical-align: 0.1em;
    font-size: 1.1em; }
  .filter-tab .more-filter {
    font-size: 0.8em;
    padding-left: 1.2em; }
  .filter-tab .filter-right {
    text-align: right;
    padding-right: 0; }

.icon-filter .menu-item {
  margin: 1em 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border: solid 2px #fff;
  padding: 0 1em; }
  .icon-filter .menu-item h6 {
    color: #a8a2a4;
    font-weight: lighter; }
  .icon-filter .menu-item p {
    color: #a8a2a4;
    font-weight: lighter;
    line-height: 1.8;
    font-size: 0.95em; }
  .icon-filter .menu-item:hover {
    border: solid 2px #ed5406;
    background-color: rgba(237, 84, 6, 0.05);
    -webkit-transition: all  0.35s;
    transition: all 0.35s; }
    .icon-filter .menu-item:hover h6 {
      color: #ed5406;
      font-weight: normal; }
    .icon-filter .menu-item:hover p {
      color: #ed5406; }

.view-btn {
  font-size: 1.5em; }
  .view-btn span {
    color: #6b7d85; }

#products {
  padding: 2em 0; }
  #products .list-group-item {
    flex: 0 0 100%;
    max-width: 100%; }
  #products .product-item {
    background: #fff;
    padding: 1em;
    margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
