#csr {
  img {
    border: 0;
  }
  .topic {
    margin-top: 20px;
    font-weight: bold;
  }
  .description {
    font-weight: 400;
    font-size: 14px;
    color: $grey-smoke;
    margin-top: 10px;
  }
  .header {
    margin: 50px 0;
    padding-bottom: 45px;
  }
}

@include tablet {
  #csr {
    .tbl-container {
      @include tbl-container;
    }
    .header {
      margin: 30px 0;
      padding-bottom: 25px;
    }
    .topic {
      margin-top: 15px;
    }
    .lists {
      padding-bottom: 30px;
    }
  }
}
