#design_build {
  .bg-dark {
    background-color: #222 !important;
  }

  iframe {
    border: 0;
  }

  .description {
    img {
      width: 100%;
      max-width: 100%;
      height: auto !important;
    }
  }

  .our-services {
    font-size: 22px;
  }

  .progress-services {
    font-size: 18px;

    .process {
      top: -53px;
      text-align: center;
      color: $black;
      font-size: 22px;
      font-weight: 500;

      .circle {
        width: 100px;
        height: 100px;
        background-color: $black;
        line-height: 80px;
        vertical-align: middle;
        font-size: 36px;
        border-radius: 50%;
        border: 10px solid #f1f1f2;
        cursor: pointer;
      }
      .active {
        color: $yellow;
        .circle {
          color: $white;
          background-color: $yellow !important;
        }
      }
    }
    .border-dash { border-top: 2px #898989 dashed; }

    .tabb {
      font-size: 15px;
      line-height: 26px;
    }
  }

  .payment {
    font-size: 18px;
    .process {
      top: -45px;
    }

    .border-dash { border-top: 2px #898989 dashed; }
    .topic {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .image {
      text-align: center;
      margin-bottom: 60px;
      img {
        max-width: 170px;
      }
    }

    li {
      list-style: none;
      padding-left: 15px;
      margin-bottom: 10px;

      &:before {
        content: "- "; 
        margin-left: -13px;
      }
    }
  }

  .contact {
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 1px;

    strong {
      color: $yellow;
      font-size: 36px;
      font-weight: 400;
    }
  }
}
