#design_build {
  .bg-dark {
    background-color: #222 !important;
  }

  iframe {
    border: 0;
    &.hero-video {
      height: 450px;
    }
    &.sub-video {
      height: 210px;
    }
  }

  .description {
    img {
      width: 100%;
      max-width: 100%;
      height: auto !important;
    }
  }

  .our-services {
    font-size: 22px;
  }

  .progress-services {
    font-size: 18px;

    h1 {
      strong {
        color: $yellow;
      }
    }

    .process {
      top: -53px;
      text-align: center;
      color: $black;
      font-size: 22px;
      font-weight: 500;

      .circle {
        width: 100px;
        height: 100px;
        background-color: $black;
        line-height: 80px;
        vertical-align: middle;
        font-size: 36px;
        border-radius: 50%;
        border: 10px solid #f1f1f2;
        cursor: pointer;
      }
      .active {
        color: $yellow;
        .circle {
          color: $white;
          background-color: $yellow !important;
        }
      }
    }
    .border-dash { border-top: 2px #898989 dashed; }

    .tabb {
      font-size: 15px;
      line-height: 26px;
    }
  }

  .payment {
    font-size: 18px;
    .process {
      top: -45px;
    }

    .border-dash { border-top: 2px #898989 dashed; }
    .topic {
      font-weight: 500;
      font-size: 24px;
      margin-bottom: 10px;
    }

    .image {
      text-align: center;
      margin-bottom: 60px;
      img {
        max-width: 170px;
      }
    }

    li {
      list-style: none;
      padding-left: 15px;
      margin-bottom: 10px;

      &:before {
        content: "- ";
        margin-left: -13px;
      }
    }
  }

  .contact {
    font-size: 30px;
    line-height: 46px;
    letter-spacing: 1px;

    strong {
      color: $yellow;
      font-size: 36px;
      font-weight: 400;
    }
  }
}

@include tablet {
  #design_build {
    .tbl-container {
      @include tbl-container;
    }

    .our-services {
      font-size: 2.1vw;
      padding-top: 4vw !important;
      padding-bottom: 4vw !important;

      .description {
        color: $white;
        border-color: $grey-ash !important;
      }

      h3 {
        font-size: 2.4vw;
        margin-bottom: -15px;
      }

      .logo {
        img {
          width: 80%;
          height: auto;
        }
      }

      img {
        width: 45%;
        height: auto;
      }
    }

    iframe {
      border: 0;
      &.hero-video {
        height: 40vw;
      }
      &.sub-video {
        height: 18.9vw;
        width: 100%;
        margin-left: 0.3vw;

        &:nth-child(odd) {
          margin-bottom: -16px;
        }
      }
    }

    .progress-services {
      h1 { font-size: 4vw; font-weight: 500; }
      h2 { font-size: 3vw; margin-bottom: 4vw !important; font-weight: 400; }
      .process {
        font-size: 1.8vw;
        margin-bottom: -4.8vw !important;

        .circle {
          width: 70px;
          height: 70px;
          line-height: 50px;
          font-size: 3.5vw;
        }
      }

      .border-dash {
        margin-top: 1.7rem !important;
        margin-bottom: 1rem;
      }

      .tabb {
        font-size: 0.8rem;
        line-height: 3.5vw;
      }
    }

    .payment {
      h2 {
        font-size: 4vw;
        font-weight: 500;
        margin-bottom: 4.5vw !important;
      }

      .process {
        top: -35px;

        .image {
          margin-bottom: 40px;
        }

        .topic {
          font-size: 2.5vw;
        }

        ul li {
          font-size: 2vw;
          font-weight: 500;
        }

        img {
          width: 75%;
        }
      }
    }

    .contact {
      font-size: 2.5vw;
      line-height: 4.5vw;

      strong {
        font-size: 3vw;
      }
    }
  }
}
