#home-services {
  .bg-grey {
    background-color: #f4f4f4;
    &-dark {
      background-color: #89888d;
    }
  }

  iframe {
    border: 0;
    &.hero-video {
      height: 450px;
    }
    &.sub-video {
      height: 150px;
      max-width: 100%;
    }
  }

  .bg-yellow {
    font-size: 1.4rem;
    font-weight: 500;
    color: $white;
  }

  .indent {
    margin-left: 50px;
  }

  .bg-orange {
    background-color: #ea503d;
  }

  .position-dimension {
    top: -7rem;
    left: -8rem;
    width: 120%;
  }

  .qr-code {
    font-size: 2.1rem;
    margin-bottom: 50px !important;

    strong {
      font-size: 2.5rem;
      font-weight: bold;
    }
  }

  .services {
    .title {
      font-size: 1.3rem;
      font-weight: 500;
    }

    h3 {
      font-weight: bold;
      color: $yellow;
      font-size: 2.4rem;
      padding-bottom: 10px;
    }

    .description {
      font-size: 1.2rem;
      letter-spacing: 1.3;
    }
  }

  .reason-services {
    text-align: center;
    .items {
      min-height: 280px;
      background-color: $white;
    }
    h2 {
      font-size: 2.4rem;
      font-weight: 500;
      min-height: 60px;
      text-align: left;
    }
    .title {
      font-weight: bold;
      font-size: 1.6rem;
      padding: 10px 0;
      color: $black;
    }

    .description {
      color: $grey-ash;
      font-size: 1.15rem;
      line-height: 1.45rem;
    }
  }

  .area-services {
    h2 {
      font-size: 2.4rem;
      font-weight: 500;
      min-height: 60px;
    }
    table {
      border: 1px solid $white;
      width: 100%;
      text-align: center;

      thead {
        td {
          padding: 20px 0;
        }
      }

      tbody {
        td {
          padding: 20px 0;
          font-size: 1.3rem;
          width: 50%;
          line-height: 1.6rem;
        }
      }
    }
  }

  .btn-facebook{
    background: #425f9c;
    color: $white;
    padding: 0.25em 0;
    font-size: 1.5rem;
    height: 52px;
    font-weight: 500;
    outline: none;

    i {
        font-size: 1.5em;
        padding-right: 0.5em;
    }
  }

  .contact {
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: 1px;

    strong {
      color: $yellow;
      font-size: 3rem;
      font-weight: 500;
    }
  }
}

@include tablet {
  #home-services {
    .tbl-container {
      @include tbl-container;
    }

    h2 {
      font-size: 4vw;
    }

    .qr-code {
      font-size: 2.5vw;

      strong {
        font-size: 2.8vw;
      }
      img {
        max-width: 100%;
      }
    }

    iframe {
      border: 0;
      &.hero-video {
        height: 54vw;
        width: 100%;
      }
      &.sub-video {
        height: 18.9vw;
        width: 100%;
        margin-left: 0.3vw;

        &:nth-child(odd) {
          margin-bottom: -16px;
        }
      }
    }

    .services {
      h3 {
        padding-bottom: 0px;
      }

      .title {
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.6rem;
      }
    }

    .tbl-lists {
      max-width: 100vw;

      h3 {
        font-size: 3.2vw;
      }

      .description {
        font-size: 2vw;
      }

      .btn {
        font-size: 2vw;
        font-weight: 400;
      }

      .img {
        &:nth-child(odd) {
          padding-right: 0;
        }
        &:nth-child(even) {
          padding-left: 0;
        }
      }
    }

    .reason-services {
      .items {
        min-height: 260px;
      }
      h2 {
        font-size: 4vw;
        min-height: auto;
      }
      .title {
        font-size: 2.5vw;
        margin-top: 10px;
      }

      .description {
        font-size: 1rem;
        line-height: 1.4rem;
      }
    }

    .area-services {
      h2 {
        font-size: 4vw;
        min-height: auto;
      }
      table {
        border: 1px solid $white;
        width: 100%;
        text-align: center;
        font-size: 2.2vw;

        thead {
          td {
            padding: 20px 0;
            font-size: 2.5vw;
          }
        }

        tbody {
          td {
            font-size: 2.2vw;
            line-height: 2.7vw;
          }
        }
      }
    }

    .btn-facebook {
      padding: 0.2em 0;
      font-size: 2.5vw;
      height: 48px;

      i {
        font-size: 2.5vw;
      }
    }

    .contact {
      font-size: 2.5vw;
      line-height: 3.5vw;

      strong {
        font-size: 2.7vw;
      }
    }
  }
}
