#howtopayment{
    .how-to-pay{
        padding: 2em 0 ;
        border:solid 1px #ccc;
        img {
            max-width: 90px;
            margin-bottom: 1em;
        }
    }
    .payment-content{
        p{
            color: #666666;
            font-size: 0.8em;
            line-height: 1.8;
            margin: 0 0 2em 0;
        }
        .credit-list{
            color: #666666;
            font-size: 0.8em;
            
            li{
                line-height: 2;
            }
            i {
                font-size: 0.3rem;
                padding-right: 0.5rem;
            }
        }
    }
    .bg-black{
        background: #000;
        padding: 2em 0 4em 3em;
        color: #fff;
        font-size: 0.8em;
        line-height: 2;
        .yellow{
            color: $yellow;
            a{
                color:#cc3333;
            }
        }
        .red{
            color:#cc3333;
        }
    }
    .head-desc{
        color: #666666;
        font-size: 0.8em; 
    }
}