.top-banner {
    margin: 2em 0 0 0;
}
.filter-tab {
    padding: 0.5em 0;
    .panel{
        color: $grey;
        font-weight: lighter;
        text-transform: uppercase;
        padding-right: 0.5em;
    }
    .btn{
        border-radius: 0;
        background: #fff;
        outline: none;
        box-shadow: none;
        border:solid 1px $light-grey;
        font-size: 1rem;
        padding: .5rem .75rem;
    }
    .dropdown-toggle::after {
        vertical-align: 0.1em;
        font-size: 1.1em;
    }
    .more-filter {
        font-size: 0.8em;
        padding-left: 1.2em;
    }
    .filter-right {
        text-align: right;
        padding-right: 0;
    }
}
.icon-filter {
    display: flex;
    flex-wrap: wrap;
    .menu-item {
        margin: 1em 0;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        border: solid 2px #fff;
        padding: 0;
        margin: 2em 0;
        display: flex;
        .icon-block{
            margin: 0 auto;
            width: 60%;
        }
        h6{
            color: #a8a2a4;
            font-weight: lighter;
            font-size: 0.9em;
            max-width: 150px;
        }
        p{
            color: #a8a2a4; 
            font-weight: lighter;
            line-height: 1.8;
            font-size: 0.95em;
        }
        &:hover{
            h6{
                color:#ed5406;
                font-weight: normal;
            }
            p{
                color:#ed5406;
            }
            border: solid 2px #ed5406;
            background-color:rgba(237, 84, 6, 0.05);
            -webkit-transition:all  0.35s;
	        transition: all 0.35s;
        }
    }
   
}
.view-btn {
    font-size: 1.5em;
    span{
        color:$grey;
    }
    
}
.heading-List{
    margin: 1em 0;
}
.badge-filter{
    font-size: 0.9em;
    margin: 1em 0;
    .clear{
        padding-left: 1em;
        font-size: 0.9em;
    }
    .badge{
        padding: 0.5em 1em;
        border:solid 1px #e7e7e7;
        background: #fff;
        vertical-align:middle;
        border-radius: 30px;
        color:#969696;
        font-weight: lighter;
    }
}
#products {
    padding: 2em 0;
    .list-group-item {
        flex:  0 0 100%;
        max-width: 100%;
    }
    .product-item{
        background: #fff;
        padding: 0.5em 1em 1em 1em;
        margin-bottom: 20px;
        box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important;
        .item-name{
            color:#565658;
            font-weight: lighter;
            text-align: left;
            padding: 0.5em 0;
        }
        .like-item{
            opacity: 0;
            font-size: 1.5em;
            position: absolute;
            right: 1.5em;
            color:$link-color;
        }
        .img-fluid{
            margin-top: 1em;
        }
        .form-row {
            padding: 1em 0 0;
            min-height: 3em;
            .btn-order {
                margin: 0 auto;
                font-size: 0.8em;
                background: $yellow;
                padding: 0.2rem 2rem;
                border-radius: 3rem;
                opacity: 0;
                
            }
        }
        .item-price{
            color:#000;
            font-weight: bold;
            font-size: 1.1em;
        }
        
        .promo-price{
            color:#fe0000;
            font-size: 1.1em;
            font-weight: bold;
            .old-price{
                font-size: 0.8em;
                text-decoration: line-through;
                color:#828282;
                font-weight: lighter;
                display: block;
            }
        }
        &:hover{
            
            .like-item{
                opacity: 1;
                animation: fade 0.35s;
            }
            .btn-order{
                opacity: 1;
                animation: fade 0.35s;
            }
        }
    }
}
.btn-next-page{
    background: $yellow;
    border-radius: 0;
    color:$white;
    text-transform: uppercase;
    padding: 0.5rem 2.5rem;
    margin-top: 1em;
}
.btn-read-more{
    background: $grey;
    border-radius: 0;
    color:$white;
    text-transform: uppercase;
    padding: 0.5rem 2.5rem;
    margin-top: 1em;
    position: relative;
    top: -40px;
}
.dont-miss{
    position: absolute;
    top: 10px;
    left: 7px;
    width: 60px;
    .img-fluid{
        margin: 0!important;
    }
}
.content-block{
    padding: 2em 0;
    color:$grey;
    h6{
        color:#575958;
    }
}