.page-banner {
    margin: 1em 0 0 0;
}
.location-menu{
    background: #565658;
    padding: 1em 0;
    font-size: 1.2em;
    a {
        color:$white;
        &:hover{
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
            color:$yellow;
        }    
    }
    .list-inline{
        margin: 0;
    }
    .list-inline-item{
        border-right: solid 1px #898989;
        padding-right: 18px;
        padding-left: 10px;
        &:last-child{
            border:none;
        }
    }

}
.location-list{
    .location-item{
        position: relative;
        margin:  0 0 2em 0;

    }
    .location-Name {
        font-size: 1.5em;
        padding: 1em 0 0.5em 0;
    }
    .location-det{
        color: $grey;
        font-weight: lighter;
        font-size: 1.2;
        padding: 0 0 1em 0;
        border-bottom: solid 1px #d2d2d2;
        span{
            display: block;
        }
    }
    .location-time{
        color: $grey;
        font-weight: lighter;
        padding-top: 1em;
    }
    .location-block{
        min-height: 20em;
    }
    .button-map-block{
        display: inline-block;       
        text-align: center;         
        position: absolute;          
        left: 50%;                   
        bottom: 10px;                
        transform: translateX(-50%); 
    }
    .btn-map {
        background:$yellow;
        color: #000;
        border-radius: 0;
        padding: 0.25rem 1.5rem;
    }
    .map-icon{
        max-width: 45px;
    }
}

.branch-location {
    color: $grey;
    padding: 1em 0 1.5em 0;
    font-weight: lighter;
}

.btn-loadmap{
    color: $white;
    background: #565658;
    font-size: 1.2em;
    border-radius: 0;
    text-transform: uppercase;
    margin:  1em 0 3em 0;
    padding: 0.8em 2.5em;
    text-align: center;
}