#who-we-are {
  .bg-grey {
    background-color: $black-choco;
  }

  .bg-yellow-fulid {
    background-color: $yellow;
    height: 360px;
    padding-top: 8%;
  }

  .border-white {
    border-color: $white !important;
    margin-top: -28px;
    z-index: 1;
  }

  .block {
    padding: 45px 15px 20px;
  }

  .border-black {
    border-color: $black !important;
  }

  h2 {
    font-weight: bold;
    font-size: 2.2rem;
  }

  h4 {
    font-size: 22px;
    font-weight: 600;
  }

  li {
    list-style: none;
  }

  ul.text-progress {
    li {
      font-weight: bold;
      font-size: 22px;
    }
  }

  .hero-banner {
    .topic {
      font-weight: 500;
      color: $yellow;
      font-size: 18px;
      line-height: 22px;
      margin: 20px 0;
    }

    p {
      font-size: 1rem;
      line-height: 25px;
    }
  }

  .timeline li {
    width: 100%;
  }

  li {
    .circle {
      list-style: none;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $white;
    }

    &:first-child .circle {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $yellow;
      border: 6px solid $white;
    }
  }

  .page {
    top: -90px;
    font-size: 15px;
  }

  .img-left {
    padding: 0 50px 60px 0 !important;
  }

  .img-center {
    padding: 0 25px 0 !important;
  }

  .img-right {
    padding: 0 0 0 50px !important;
  }

  .nav-links {
    a {
      border-left: 1px solid #eee;
      color: $white;
      font-size: 18px;
      padding: 0 15px;
      font-weight: 400;

      &:first-child {
        border: none;
      }

      &.active {
        color: $yellow;
      }
    }
  }

  .brandLists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 6vw;
  }
}

@include tablet-width {
  #who-we-are {
    .tbl-container {
      @include tbl-container;
      padding-bottom: 0 !important;
    }

    .tbl-container-fuild {
      @include tbl-container-fuild;
    }

    .hero-banner {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;

      .block {
        padding: 15px 0px;

        h2 {
          font-size: 2.8vw;
          font-weight: bold;
          margin: 5px !important;
          padding-left: 18px !important;
          padding-right: 18px !important;
        }

        p {
          font-size: 1.5vw;
          line-height: 2.1vw;
        }
      }

      h3 {
        font-size: 2.3vw;
      }

      .logo {
        img { width: 60%; }
      }

      .bg-black {
        padding: 3.5vw 0.2vw !important;

        .topic {
          font-size: 1.6vw;
          margin: 10px 0;
          font-weight: 500;
          line-height: 2.1vw;
        }

        p {
          font-size: 1.4vw;
          line-height: 2.1vw;
        }
      }
    }

    .bg-yellow-fulid {
      height: 290px;
    }

    ul.text-progress {
      li {
        font-size: 2.5vw;
      }
    }

    .img-left {
      padding: 0 0px 20px 0 !important;
    }

    .position-relative {
      h4 {
        margin-bottom: 3vw !important;
      }
    }

    .brandLists {
      grid-gap: 3.5vw;
    }
  }
}

@include tablet {
  #who-we-are {
    .tbl-container {
      @include tbl-container;
      padding-bottom: 0 !important;
    }

    .tbl-container-fuild {
      @include tbl-container-fuild;
    }

    .hero-banner {
      padding-bottom: 0 !important;
      margin-bottom: 0 !important;

      .block {
        padding: 15px 0px;

        h2 {
          font-size: 2.7vw;
          font-weight: bold;
          margin: 5px !important;
          padding-left: 18px !important;
          padding-right: 18px !important;
        }

        p {
          font-size: 2vw;
          line-height: 2.8vw;
        }
      }

      h3 {
        font-size: 2.5vw;
      }

      .logo {
        img { width: 60%; }
      }

      .bg-black {
        padding: 3.5vw 0.2vw !important;

        .topic {
          font-size: 2vw;
          margin: 10px 0;
          font-weight: 500;
          line-height: 2.8vw;
        }

        p {
          font-size: 2vw;
          line-height: 2.8vw;
        }
      }
    }

    .bg-yellow-fulid {
      height: 290px;
    }

    ul.text-progress {
      li {
        font-size: 2.5vw;
      }
    }

    .img-left {
      padding: 0 0px 20px 0 !important;
    }

    .position-relative {
      h4 {
        margin-bottom: 3vw !important;
      }
    }

    .brandLists {
      grid-gap: 3.5vw;
    }
  }
}
