#wishlist_feature {
  .width-55 {
    width: 54.9%; margin: 0; padding: 0; box-sizing: border-box;
  }
  .width-45 { width: 45%; margin: 0; padding: 0; box-sizing: border-box; }

  .container-fuild {
    .tbl-container {
      max-width: 100%;
    }
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5vw;
  }

  .bg-grey-dark {
    background-color: #56555A;
    padding: 50px 0;
  }

  .badge-popup {
    z-index: 99;
    font-size: 14px;
    letter-spacing: 0.5px;

    .badge {
      &:first-child {
        margin-left: 0;
        margin-top: 2px;
      }

      &-orange {
        background: #ea503d;
        color: $white;
      }

      &-danger {
        background: #b32017;
        font-size: 7px !important;
        padding: 4px;
        position: relative;
        top: 2px;
      }

      padding: 6px;
      border-radius: 0;
    }
  }

  .cover-img {
    img { max-width: 100%; }
  }

  .thumbnail {
    img {
      max-width: 100%;
    }
  }

  .btn-show {
    padding: 13px 40px;
    background: $black;
    font-size: 22px;
    border-radius: 0;
  }

  .topic {
    font-size: 21px;
    color: #737373;
    line-height: 24px;
  }

  .description {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    background: $white;
    height: 80px;

    p {
      &:last-child {
        color: #5d5d5d;
        margin-top: 18px;
      }

      &.discount {
        &:last-child {
          margin-top: 6px;
          font-size: 11px;

          strong {
            color: #f00;
          }
        }
      }
    }

    strong {
      font-size: 13px;
      font-weight: 600;
    }
  }
}

@include tablet-width {
  #wishlist_feature {
    .tbl-container {
      @include tbl-container;
    }

    .bg-grey-dark {
      padding: 20px 0 0;
    }

    h1 {
      font-size: 2.5rem;
    }

    h2 {
      font-size: 2.7vw;
    }

    .tbl-banner {
      max-width: 100%;
      padding: 0 !important;
    }

    .cover-img {
      img { width: 100%; }
    }

    .width-sm-100 { width: 99.8%; }
    .width-55 {
      h1 {
        padding-left: 15px;
        text-align: left !important;
      }
      &:nth-child(even) {
        h1 {
          text-align: right !important;
          padding-right: 15px !important;
        }
      }
    }

    .topic {
      padding: 15px 0;
      font-size: 2.8vw;
      line-height: 3.3vw;
    }

    .position-space {
      position: inherit !important;
    }

    .btn-show {
      padding: 10px 30px;
      font-size: 2.2vw;
    }

    .order-img {
      order: 1;
    }

    .order-desc {
      order: 2;
    }
  }
}

@include tablet {
  #wishlist_feature {
    .tbl-container {
      @include tbl-container;
    }

    .bg-grey-dark {
      padding: 20px 0 0;
    }

    h1 {
      font-size: 2.1rem;
    }

    h2 {
      font-size: 3.5vw;
    }

    .tbl-banner {
      max-width: 100%;
      padding: 0 !important;
    }

    .cover-img {
      img { width: 100%; }
    }

    .width-sm-100 { width: 99.8%; }
    .width-55 {
      h1 {
        padding-left: 15px;
        text-align: left !important;
      }
      &:nth-child(even) {
        h1 {
          text-align: right !important;
          padding-right: 15px !important;
        }
      }
    }

    .topic {
      padding: 15px 0;
      font-size: 3vw;
      line-height: 3.5vw;
    }

    .position-space {
      position: inherit !important;
    }

    .btn-show {
      padding: 10px 30px;
      font-size: 2.2vw;
    }

    .order-img {
      order: 1;
    }

    .order-desc {
      order: 2;
    }
  }
}
